extends layout

block content
  h1= message
  div
    div
      a(href='/login')='Zaloguj się'
    div
      a(href='/register')='Zarejestruj się'
  div
    img(src="https://oaza-memow.pl/img/uploads/meme_QcykflT3mjuuvWyGKG8yN0asi.jpeg")
  h1="Meme list"
  div.meme-list
    each meme in memes
      div.meme-container
        a(href="meme/" + meme.id) #{meme.name}
        img(src=meme.url)
        div.price=meme.price